footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .shop{
      img{
        max-width: 800px;
        width: 100%;
      }
    }
    .container{
      display: flex;
      font-size: 14px;
      color: #666;
      align-items: center;
      justify-content: space-between;
      max-width: 1080px;
      width: 100%;
      padding: 20px 0;
      margin: 0 auto;
      border-top: 1px solid #aaa;
      img{
        height: 40px;
      }
      a{
        color: #666;
      }
    }
  }
  @media screen and (max-width: 640px) {
    footer{
      .container{
        padding: 10px 20px;
        flex-direction: column;
        align-items: flex-start;
        box-sizing: border-box;
      }
    }
  }